body{
<<<<<<< HEAD
    background-color: gray;
    font-family: monospace;
=======
		
>>>>>>> 4cf3455317eeaac5995cc5c30c458d299415671f
}

h1{
	text-align: center;
	padding-top: 30px;
}

#container {
	width: 800px;
	margin: 20px auto;
}

#gifs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: white;
}

.gif {
	display:inline-block;
	height: 200px;
}

.gif img {
	width: 100%;
}
